.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dashboard {

  width: 100%;
  padding: 10px;
  border-color: rgb(151, 151, 151);
  border-style: solid;
  border-radius: 5px;
  align-content: center;

}

.dashboard-item {
  position: relative;
}
.background-green {
  background-color: green;
}
.background-red {
  background-color: red;
}
.background-lightblue {
  background-color: rgb(144, 189, 240);
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
